.font-inspector-tooltip {
  position: absolute;
  padding: 12px 16px;
  background: rgba(51, 51, 51, 0.9);
  color: #fff;
  z-index: 10000;
  display: block;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  line-height: 1.6;
  font-size: 14px;
  max-width: 260px;
  backdrop-filter: blur(10px);
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 10001; /* Higher than the measurement overlays */
}

.font-inspector-tooltip div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: nowrap;
}

.font-inspector-tooltip div:last-child {
  margin-bottom: 0;
}

.keyboard-shortcut {
  display: none;
  background-color: #55555500;
  font-size: 10px;
  padding: 0 8px;
  white-space: nowrap;
}

/* Specific adjustments for the ⌘ and Ctrl symbols */
.keyboard-shortcut.cmd::before {
  content: " ⌘+C";
  display: inline;
  padding: 0 8px;
  font-size: 10px;
  background-color: #55555500;
  white-space: nowrap;
}

.keyboard-shortcut.ctrl::before {
  content: " Ctrl+C";
  display: inline;
  font-size: 10px;
  padding: 0 8px;
  background-color: #55555500;
  white-space: nowrap;
}

.style {
  font-size: 12px !important;
  background-color: #55555500 !important;
  color: rgba(255, 255, 255, 0.518) !important;
}

.font-inspector-tooltip span {
  background-color: #555;
  border-radius: 15px;
  padding: 4px 8px;
  font-weight: normal;
  margin-left: 8px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
}

.font-inspector-tooltip img {
  filter: invert(100%);
  margin-right: 8px;
}
