.font-inspector-tooltip {
    position: absolute;
    padding: 12px 16px;
    background: #333; /* Dark background */
    color: #fff; /* White text */
    z-index: 10000;
    display: none;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    line-height: 1.6;
    font-size: 14px;
    max-width: 260px; /* Ensure it doesn't get too wide */
}

.font-inspector-tooltip div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.font-inspector-tooltip div:last-child {
    margin-bottom: 0;
}

.font-inspector-tooltip span {
    background-color: #555; /* Slightly lighter dark background for contrast */
    border-radius: 15px;
    padding: 4px 8px;
    font-weight: normal; /* Avoid bold to keep it sleek */
    margin-left: 8px;
    font-size: 12px;
}

.font-inspector-tooltip img {
    filter: invert(100%); /* Make icons white */
    margin-right: 8px;
}

.copy-instruction {
    display: inline-block;
    background-color: #4A4A4A; 
    color: #E0E0E0; /* Lighter text for visibility */
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 8px;
    user-select: none; /* Prevents the instruction text from being selected */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.copy-instruction:hover {
    background-color: #575757; /* Slightly lighter on hover for interaction feedback */
    color: #FFFFFF;
}
